<!DOCTYPE html>
<html lang="en">
<head>
    <title>BillSplitter, <%=firstName%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/style.css">
    <script type="module" src="/cdn/Scripts/home-script.js"></script>
</head>
<body>
    <div class="top-container">
        <div class="top-box" id="top-username-box"><h2>Welcome <%=firstName%></h2></div>
        <div class="top-box" id="top-header-box"><h1 >BillSplitter</h1></div>
        <div class="top-box" id="top-logout-button-box"><button onclick="location.href = '/logged-out'" class="top-button" id="top-logout-button">Logout</button></div>
    </div>
    <div class="big-button-container">
        <button class="big-button" id="add-expense-button">Add Expense</button>
        <button class="big-button" id="personal-log-button">Personal Log</button>
        <button class="big-button" id="household-log-button">HouseHold Log</button>
    </div>
    <div id="add-expense-box" class="modal-container"></div>
    <div class="card-container" id="expense-card-container">

    </div>
</body>
</html>