<!DOCTYPE html>
<html lang="en">
<head>
    <title>BillSplitter Home</title>
    <meta charset="utf-8" />
    <script type="module" src="/cdn/Scripts/index.js"></script>
</head>
<body>
    <h1>Welcome to BillSplitter</h1>
    <button onclick="document.getElementById('sign-up-box').style.display='block'" style="width:auto;">Sign Up</button>
    <button onclick="document.getElementById('login-box').style.display='block'" style="width:auto;">Login</button>
    <div id="sign-up-box" class="modal"></div>
    <div id="login-box" class="modal"></div>
</body>
</html>