<!DOCTYPE html>
<html lang="en">
<head>
    <title>BillSplitter Accounts</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/style.css">
    <script type="module" src="/cdn/Scripts/index-script.js"></script>
</head>
<body>
    <div class="top-container">
        <div class="top-box"><h1 class="top-header">BillSplitter</h1></div>
    </div>
    <div class="big-button-container">
        <button class="big-button" id="sign-up-button">Sign Up</button>
        <button class="big-button" id="login-button">Login</button>
    </div>
    <div id="sign-up-box" class="modal-container"></div>
    <div id="username-login-box" class="modal-container"></div>
    <div id="email-login-box" class="modal-container"></div>
</body>
</html>