<!DOCTYPE html>
<html lang="en">
<head>
    <title>BillSplitter Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/index-style.css">
    <script type="module" src="/cdn/Scripts/index-script.js"></script>
</head>
<body>
    <h1 class="main-header">BillSplitter</h1>
    <div class="account-button-container">
        <button class="account-button" id="sign-up-button">Sign Up</button>
        <button class="account-button" id="login-button">Login</button>
    </div>
    <div id="sign-up-box" class="modal"></div>
    <div id="login-box" class="modal"></div>
</body>
</html>