
/*
/////////////// Attribute Styles
*/
* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    height: 100%;
    line-height: 1.6;
    color: #666;
}

body {
  background-image: url("/cdn/Images/main-background.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text]:hover, input[type=password]:hover {
    background-color: #cecece;
}

button:hover, .card-box:hover {
    box-shadow: 4px 16px 90px rgba(0, 0, 0, .15);
    transform: translate3D(0, -5px, 0); 
    -webkit-transform: translate3D(0, -5px, 0);
    -moz-transform: translate3D(0, -5px, 0);
    -o-transform: translate3D(0, -5px, 0);
}

button {
    border-radius: 1.2rem;
    border: none;
    color: #ffff;
    padding: 1.2rem;
    margin: 0.5rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

label {
    font-weight: 800;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1rem;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 1.2rem;
    background: #f1f1f1;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
}

p {
    text-align: center;
}
/*
/////////////// Top Styles
*/

.top-container { 
    display: flex;
    align-items: center;
}

.top-box {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.top-button {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

/*
/////////////// Card Styles
*/

.card-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


.card-box {
    justify-content: center;
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear
}

.card-header {  
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}
#error-card-header {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card-message-container {
    flex: auto;
    justify-content: center;
    margin: 1rem;
}

.card-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.card-button {
    background-image: linear-gradient(120deg, #9B6B8D 0%, #fecfef 100%);
}

#error-card-button {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

/*
/////////////// Big Button Styles
*/

.big-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-button {
    text-align: center;
    flex-basis: 15rem;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
    font-size: 1.5rem;
    margin: 1rem;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    overflow: hidden;
}

#add-expense-button {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

/*
/////////////// Modal Styles
*/

.modal-container {
    display: none;
    position: fixed;
    padding: 1.5rem 1.5rem;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f6f6f646;
}

.modal-box {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    padding: 1.5rem 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1.2rem;
    width: 80%; 
}

.modal-button-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.modal-submit-button {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.modal-cancel-button {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.modal-action-button {
    background-image: linear-gradient(120deg, #9B6B8D 0%, #fecfef 100%);
}

@media screen and (min-width: 100px) {
    #top-username-box {
        display: none;
    }
    #top-header-box {
        margin-left: auto;
    }
    #top-logout-button-box {
        margin-right: auto;
    }
    #expense-box {
      flex: 1 1 calc(60% - 2rem);
    }
  }

@media screen and (min-width: 600px) {
    #top-username-box {
        display: block;
    }
    #expense-box {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    #expense-box {
      flex: 1 1 calc(33% - 2rem);
    }
  }
